<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/registerlogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Charis+SIL&family=Fascinate&family=Joan&family=M+PLUS+Rounded+1c&family=Merriweather:wght@300&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="css/logo4-removebg-preview (1).png" alt="Logo" class="avatar">
        <div class="card">
            <h1>Welcome User</h1>
            <p>Register for new account</p>
            <p>Already have an account?Login</p>
            <form action="/register">
                <button id="register" type="submit">Register</button>
                </form>
                <form action="/login">
                    <button id="login"type="submit">Login</button>
                    </form>

        </div>
    </div>
</body>
</html>