<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="Register.css">
</head>
<body>
    <div class="login-box">

        <img src="logo4-removebg-preview (1).png" alt="Logo" class="avatar">
            <h1>Welcome User</h1>
            <form action="/register" method="POST">
                <p>Enter Full Name</p>
                <input type="text"name="name" placeholder="Enter Full Name">
                <p>Enter Number</p>
                <input type="text"name="number" placeholder="Enter Phone Number">
                <p>Enter Email ID </p>
                <input type="text"name="email" placeholder="Enter your Email Id here">
                <p>Enter Password</p>
                <input type="text" name="password" placeholder="Enter Password here">
                <p>Confirm Password</p>
                <input type="text" name="cpassword" placeholder="Confirm Password here">
                <button type="register">Register</button>
                <!-- <a href="#">Forget Password</a> -->
            </form>
        
        </div> 
</body>
</html>
